.katex { font-size: 16pt !important; }

@font-face {
  font-family: "et-book";
  src: url("../fonts/et-book-roman-line-figures.ttf");
}
@font-face {
  font-family: "Monocraft";
  src: url("../fonts/Monocraft.otf");
}


body {
  font-family:"et-book";
  font-size:18pt;
  max-width:1300px;
  width:80%;
  margin: auto;
  padding-top:5%;
  line-height: 1.5em;
  padding-bottom: 25%;
}
a {
  text-decoration: none; 
  font-family:"Monocraft";
  font-size:12px;
}

a, a:visited, a:hover, a:active {
  color: black;
}

a:hover {
  text-decoration: underline;
}

em {
  font-size:70%;
}

#subtext {
  text-align: right;
}
i {
  font-weight:normal;
}
h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}
h2:after
{
    margin-bottom: 0px;
    content:' ';
    display:block;
    border:1px solid black;
}

h6 {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#container {
    display: table;
}
#container > div {
  display: table-cell;
  vertical-align:middle;
  padding-top:1%;
  padding-bottom:1%;
}
#text {
  padding-right:1.5%;
  padding-left:1.5%;
  text-align: left;
  width:60%;
}

img{
  display: flex;
  max-height:100%;
  max-width:100%;
  transition:transform 0.2s ease;
}

#pics img:hover {
    transform:scale(2) translateX(-38%);
}

#pics {
    padding-left:1.5%;
    padding-right:1.5%;
    vertical-align:top;
}


#pics-mobile img{
    vertical-align:top;
    width:100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

@media screen and (min-width: 1025px) {
    #pics-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    #pics {
        display: none !important;
    }
}

#small {
  font-size:11pt;
  text-align:center;
}


.big-icon {
  font-size: 2rem;
  color: black;
}

#id{
  width:50%;
}

.pubitem {
  padding: 0.3em;
  position: relative;
  line-height: 1.5em;
}

.publeft {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
	float: left;
  width: 50%;
  line-height: 1.0em;

}

.pubright {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
  max-width: 50%;
  line-height: 1.0em;

}

#ptitle{
  font-size: 15pt;
  border-left: 0.2em solid black;
  padding-left: 0.2em;
  padding-right: 0.4em;
  background: #f2f2f2;
}
.pubs {
  font-size: 14pt;
}
