html, body {
  margin: 1%;
  padding: 0;
}
canvas {
  display: block;
}

button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}
datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 77%;
}

option {
  padding: 0;
}
button {
  color: black;
}
input[type="checkbox"]{
  accent-color: black
}
input[type="range"]{
  accent-color: white
}
