
.katex { font-size: 16pt !important; }

@font-face {
  font-family: "et-book";
  src: url("et-book-roman-line-figures.ttf");
}
@font-face {
  font-family: "Monocraft";
  src: url("Monocraft.otf");
}


body {
  font-family:"et-book";
  font-size:22px;
  max-width:1152px;
  width:90%;
  margin: auto;
  padding-top:5%;
  line-height: 1.5em;
  padding-bottom: 25%;
}
a {
  text-decoration: none; 
  font-family:"Monocraft";
  font-size:13px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
}

em {
  font-size:70%;
}

details {
  font-size:16pt;
}
#subtext {
  text-align: right;
}
i {
  font-weight:normal;
}
h2 {
  margin-top: 1%;
  margin-bottom: 1%;
}
h2:after
{
    margin-bottom: 0px;
    content:' ';
    display:block;
    border:1px solid black;
}

h6 {
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

#container {
    display: table;
}
#container > div {
  display: table-cell;
  vertical-align:middle;
  padding-top:1%;
  padding-bottom:1%;
}
#text {
  padding-right:1.5%;
  padding-left:1.5%;
  text-align: left;
  width:60%;
}

img{
  display: flex;
  max-height:100%;
  max-width:100%;
  transition:transform 0.2s ease;
}

#pics img:hover {
    transform:scale(2) translateX(-38%);
}

#pics {
    padding-left:1.5%;
    padding-right:1.5%;
    vertical-align:top;
}


#pics-mobile img{
    vertical-align:top;
    width:100%;
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

@media screen and (min-width: 1025px) {
    #pics-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 1024px) {
    #pics {
        display: none !important;
    }
}

#small {
  font-size:11pt;
  text-align:center;
}

